:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5em;

    --color-bg: #131718;
    --color-fg: #CCCCCC;
    --color-red: #df5b61;
    --color-green: #87c7a1;
    --color-orange: #de8f78;
    --color-blue: #6791c9;
    --color-violet: #bc83e3;
    --color-cyan: #70b9cc;

    color-scheme: dark;
    background-color: var(--color-bg);
    color: var(--color-fg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.error {
    color: var(--color-red);
}

#connect > input[name="private-key"] {
    width: clamp(20rem, 70vw, 45rem);
}
