!.vscode/extensions.json
**/*.rs.bk
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.anchor
.idea
.vscode/*
.yarn
Cargo.lock
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
target
test-ledger
yarn-debug.log*
yarn-error.log*
yarn.lock
